<auth-form (submitted)="createUser($event)">
    <h3>Create Account</h3>
    <button type="submit">Join Us</button>
</auth-form>
<auth-form (submitted)="loginUser($event)">
    <h3>Login</h3>
    <auth-remember (checked)="rememberUser($event)"></auth-remember>
    <auth-remember (checked)="rememberUser($event)"></auth-remember>
    <button type="submit">Login</button>
</auth-form>
<div #entry>
    <h3>Dynamic Component</h3>
    <button (click)="destroyComponent()">Destroy</button>
    <button (click)="moveComponent()">Move</button>
</div>
<ng-template #tmpl let-implicitVar let-angularVar="angularVar">
    {{ implicitVar }} {{ angularVar }}
</ng-template>
<ng-container [ngTemplateOutlet]="tmpl2"></ng-container>
<ng-template #tmpl2>Angular Template Outlet</ng-template>
